@font-face {
  font-family: iransans;
  src: url(../src/assets/fonts/IRANSans\(FaNum\).ttf),
    url(../src/assets/fonts/IRANSans\(FaNum\)_Bold.ttf),
    url(../src/assets/fonts/IRANSans\(FaNum\)_Light.ttf),
    url(../src/assets/fonts/IRANSans\(FaNum\)_Medium.ttf),
    url(../src/assets/fonts/IRANSans\(FaNum\)_UltraLight.ttf);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "iransans", sans-serif;
  direction: rtl;
  text-align: right;
}

input {
  outline: none;
}

input:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********** colors ***********/
.bg-green {
  background-color: #5abf38;
}

.bg-purple {
  background-color: #8e3e98;
}

.login-pic {
  background-image: url("assets/images/login-pic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 70%;
}

.login-content {
  width: 30%;
}

.login-container {
  background-image: linear-gradient(#5abf384f, #8e3e984f);
}
